.home-foot{
    width:100%;
    height:75vh;
    position: relative;
    margin-top: -20px;
    /* top:-15px; */
}
.home-foot-dark{
    width:100%;
    height:75vh;
    margin-top: -20px;
    background:linear-gradient(180deg,rgb(68, 0, 95),rgb(70, 1, 104));
}
.home-foot-white{
    background: linear-gradient(180deg,white,rgb(208, 115, 255));
}
.foot-logo{
    width:50%;
    height:15vh;
    /* border:2px solid black; */
    /* background-color: rgba(216, 214, 216, 0.339);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    margin:2vh auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.foot-logo-black{
    color:white;
    
}
.foot-pic{
    width:60px;
    height:60px;
    border-radius: 50%;
    overflow: hidden;
}
.foot-pic img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.foot-pic-black{
    border:2px solid white;
}
.foot-pic-white{
    
    border:2px solid black;
   
}
.foot-links{
    width:50%;
    height:15vh;
    border: 2px solid rgb(245, 189, 253);
    margin:2vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    font-size:1.6vw;
    background-color: rgba(191, 191, 191, 0.125);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}
.foot-links-black{
    border: 2px solid rgb(94, 93, 93);
}
.foot-links a{
    text-decoration: none;
    color:rgb(62, 0, 78);
    font-weight:700;
    
}
.foot-links a:hover{
    text-decoration: underline;
}
.foot-links-black a{
        color:ghostwhite;
      
        
}
.social{
    width:50%;
    height:17vh;
    /* border: 2px solid black; */
    margin:2vh auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap:2vw;
}
.social-icons{
    width:70px;
    height:70px;
    /* border:2px solid black; */
    overflow:hidden;
    display: grid;
    place-items:center;
    background-color: rgba(248, 248, 255, 0.144);
    border-radius: 10px;
}
.social-icons-black{
    background-color: rgba(255, 255, 255, 0.639);
}
.social-icons:first-child{
    border:2px solid rgb(74, 74, 160);
    border-radius: 10px;
   
    
}
.social-icons:nth-child(2){
    border:2px solid rgb(79, 79, 185);
    border-radius: 10px;
    
}
.social-icons:nth-child(3){
    border:2px solid rgb(211, 5, 247);
    border-radius: 10px;
   
    
}
.social-icons:nth-child(4){
    border:2px solid rgb(64, 64, 146);
    border-radius: 10px;
    
}
.social-icons:hover{
    margin-bottom:10px;
    cursor: pointer;
}
.social-icons img{
    width:70%;
    height:70%;
    object-fit: contain;
}
.copyright{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:15vh;
    border-top:2px solid;
    margin-top:100px;
    position: absolute;
    bottom:0px;
    border-image: linear-gradient(to right,red,rgb(142, 1, 249))5;
}
.copyright-white{
    border-image: linear-gradient(to right,rgb(37, 1, 34),rgb(249, 1, 241))5;
}
.copyright-black{
    border-image: linear-gradient(to right,rgb(37, 1, 34),rgb(249, 1, 241))5;
    color:white;
}
.copyright-logo{
    width:50%;
    height:50%;
    /* border:1px solid black; */
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    padding-left: 5px;
}
.c-logo{
    font-size: 2vw;
}
.copyright-logo>span{
    color:rgb(255, 2, 2);
}
.copyright-logo>p{
    font-size:1vw;
}
.rights
{
    width:50%;
    height:50%;
    /* border:1px solid black; */
    position: relative;
}
.rights>p{
    position: absolute;
    top:25%;
    right:10px;
}

@media (max-width:800px)
{
    .foot-logo{
        width:80%;
    }
    .foot-links{
        width:80%;
    }
    .foot-links a{
        font-size:4vw;
    }
    .social{
        width:80%;
    }
    .copyright{
        width:100%;
        flex-flow: column;
    }
    .copyright-logo{
        width:100%;
        /* border: 1px solid black; */
        justify-content:center;
        padding-right: 5px;
    }
    .c-logo{
        font-size: 4vw;
    }
    .copyright-logo>p{
        font-size: 2.5vw;
    }
    .rights{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .rights>p{
        right:calc(100vw - 68%)
        
    }

}